# Read Inventary

In [16]:
import json

In [2]:
fd=open("record.json","r")
txt=fd.read()
fd.close()
record = json.loads(txt)

In [3]:
txt

'{"1001": {"name": "A4 Sheets", "Op": 2, "qn": 600, "Dp": 50, "Sp": 1}, "1002": {"name": "Bed Sheet", "Op": 800, "qn": 60, "Dp": 50, "Sp": 400}, "1003": {"name": "Sunflower Oil", "Op": 200, "qn": 104, "Dp": 50, "Sp": 100}, "1004": {"name": "Cabbage", "Op": 20, "qn": 60, "Dp": 50, "Sp": 10}, "1005": {"name": "Potato", "Op": 20, "qn": 120, "Dp": 50, "Sp": 10}, "1006": {"name": "Wheat Flour", "Op": 400, "qn": 60, "Dp": 50, "Sp": 200}, "1007": {"name": "Maida", "Op": 24, "qn": 57, "Dp": 50, "Sp": 10}, "1008": {"name": "Sugar", "Op": 36, "qn": 80, "Dp": 50, "Sp": 18}, "1009": {"name": "Ice-cream", "Op": 340, "qn": 90, "Dp": 50, "Sp": 170},"1010": {"name": "Onion", "Op": 40.0, "qn": 90, "Dp": 5.0, "Sp": 38.0} ,"1014": {"name": "Peanuts", "Op": 190.0, "qn": 300.0, "Dp": 30.0, "Sp": 133.0}, "1016": {"name": "Tie", "Op": 120.0, "qn": 46.0, "Dp": 20.0, "Sp": 96.0}, "1015": {"name": "Saree", "Op": 300.0, "qn": 50.0, "Dp": 20.0, "Sp": 240.0}, "1017": {"name": "Biscuits", "Op": 40.0, "qn": 5.0, "Dp": 5.0, "Sp": 38.0}, "1018": {"name": "Noodles", "Op": 46.0, "qn": 120.0, "Dp": 10.0, "Sp": 41.4}, "1019": {"name": "Umbrella", "Op": 450.0, "qn": 120.0, "Dp": 20.0, "Sp": 360.0}, "1020": {"name": "Piggy bank", "Op": 40.0, "qn": 47.0, "Dp": 5.0, "Sp": 38.0}, "1021": {"name": "Dream Cream", "Op": 35.0, "qn": 100.0, "Dp": 8.0, "Sp": 32.2}, "1022": {"name": "Pen pencil", "Op": 30.0, "qn": 160.0, "Dp": 2.0, "Sp": 29.4}, "1023": {"name": "Papad", "Op": 60.0, "qn": 200.0, "Dp": 4.0, "Sp": 57.6}, "1025": {"name": "Usha Fan", "Op": 560.0, "qn": 2.0, "Dp": 2.0, "Sp": 548.8}, "1026": {"name": "Shirt", "Op": 300.0, "qn": 120.0, "Dp": 30.0, "Sp": 210.0}, "1027": {"name": "Red Velvet", "Op": 120.0, "qn": 100.0, "Dp": 5.0, "Sp": 114.0}, "1029": {"name": "Donut", "Op": 120.0, "qn": 100.0, "Dp": 5.0, "Sp": 114.0}, "1030": {"name": "Cream", "Op": 120.0, "qn": 100.0, "Dp": 10.0, "Sp": 108.0}}'

# Add Product

In [11]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
Op = float(input("Enter Original price:₹"))
qn = float(input("Enter quantity:"))
Dp = float(input("Enter Discount Percentage:%"))
Amt = (Op*Dp)/100
Sp = Op - Amt
print("Selling Price:₹",Sp)
record[prod_id] = {'name': name, 'Op': Op, 'qn': qn,'Dp': Dp,'Sp': Sp}
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1031
Enter name:Powder
Enter Original price:₹30
Enter quantity:120
Enter Discount Percentage:%5
Selling Price:₹ 28.5

# Delete Product

In [13]:
prod_id=str(input("Enter Product ID:"))
del record[prod_id]
print("Product Deleted",prod_id)

Enter Product ID:1031
Product Deleted 1031

In [14]:
record

{'1001': {'name': 'A4 Sheets', 'Op': 2, 'qn': 600, 'Dp': 50, 'Sp': 1},
 '1002': {'name': 'Bed Sheet', 'Op': 800, 'qn': 60, 'Dp': 50, 'Sp': 400},
 '1003': {'name': 'Sunflower Oil', 'Op': 200, 'qn': 104, 'Dp': 50, 'Sp': 100},
 '1004': {'name': 'Cabbage', 'Op': 20, 'qn': 60, 'Dp': 50, 'Sp': 10},
 '1005': {'name': 'Potato', 'Op': 20, 'qn': 120, 'Dp': 50, 'Sp': 10},
 '1006': {'name': 'Wheat Flour', 'Op': 400, 'qn': 60, 'Dp': 50, 'Sp': 200},
 '1007': {'name': 'Maida', 'Op': 24, 'qn': 57, 'Dp': 50, 'Sp': 10},
 '1008': {'name': 'Sugar', 'Op': 36, 'qn': 80, 'Dp': 50, 'Sp': 18},
 '1009': {'name': 'Ice-cream', 'Op': 340, 'qn': 90, 'Dp': 50, 'Sp': 170},
 '1010': {'name': 'Onion', 'Op': 40.0, 'qn': 90, 'Dp': 5.0, 'Sp': 38.0},
 '1014': {'name': 'Peanuts',
  'Op': 190.0,
  'qn': 300.0,
  'Dp': 30.0,
  'Sp': 133.0},
 '1016': {'name': 'Tie', 'Op': 120.0, 'qn': 46.0, 'Dp': 20.0, 'Sp': 96.0},
 '1015': {'name': 'Saree', 'Op': 300.0, 'qn': 50.0, 'Dp': 20.0, 'Sp': 240.0},
 '1017': {'name': 'Biscuits', 'Op': 40.0, 'qn': 5.0, 'Dp': 5.0, 'Sp': 38.0},
 '1018': {'name': 'Noodles', 'Op': 46.0, 'qn': 120.0, 'Dp': 10.0, 'Sp': 41.4},
 '1019': {'name': 'Umbrella',
  'Op': 450.0,
  'qn': 120.0,
  'Dp': 20.0,
  'Sp': 360.0},
 '1020': {'name': 'Piggy bank', 'Op': 40.0, 'qn': 47.0, 'Dp': 5.0, 'Sp': 38.0},
 '1021': {'name': 'Dream Cream',
  'Op': 35.0,
  'qn': 100.0,
  'Dp': 8.0,
  'Sp': 32.2},
 '1022': {'name': 'Pen pencil',
  'Op': 30.0,
  'qn': 160.0,
  'Dp': 2.0,
  'Sp': 29.4},
 '1023': {'name': 'Papad', 'Op': 60.0, 'qn': 200.0, 'Dp': 4.0, 'Sp': 57.6},
 '1025': {'name': 'Usha Fan', 'Op': 560.0, 'qn': 2.0, 'Dp': 2.0, 'Sp': 548.8},
 '1026': {'name': 'Shirt', 'Op': 300.0, 'qn': 120.0, 'Dp': 30.0, 'Sp': 210.0},
 '1027': {'name': 'Red Velvet',
  'Op': 120.0,
  'qn': 100.0,
  'Dp': 5.0,
  'Sp': 114.0},
 '1029': {'name': 'Donut', 'Op': 120.0, 'qn': 100.0, 'Dp': 5.0, 'Sp': 114.0},
 '1030': {'name': 'Cream', 'Op': 120.0, 'qn': 100.0, 'Dp': 10.0, 'Sp': 108.0},
 '1011': {'name': 'Blanket', 'Op': 500.0, 'qn': 30.0, 'Dp': 30.0, 'Sp': 350.0},
 '1012': {'name': 'Moong Dal',
  'Op': 106.0,
  'qn': 200.0,
  'Dp': 20.0,
  'Sp': 84.8},
 '1013': {'name': 'Dettol', 'Op': 60.0, 'qn': 70.0, 'Dp': 20.0, 'Sp': 48.0},
 '1024': {'name': 'Cholate Sip',
  'Op': 40.0,
  'qn': 200.0,
  'Dp': 20.0,
  'Sp': 32.0},
 '1028': {'name': 'Rice', 'Op': 400.0, 'qn': 120.0, 'Dp': 20.0, 'Sp': 320.0}}

# Update Record file

In [15]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()